.i1, .i2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: darkmagenta;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container__core-items {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
}

.small-container {
  margin-top: 300px;
  height: 200px;
  overflow: scroll;
}

.huge-content {
  display: block;
  height: 200px;
}